

.myinfo{
    color: white;
    margin-left: 25px;
}

.links{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.linkchild{
    text-decoration: none;
    color: whitesmoke;
    transition: transform 0.5s;
    font-size: 17px;
}

.linkchild:hover{
    transform: scale(1.1);
    text-decoration: underline green solid 3px; 
}

.otherlinks{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
}

.linkdimg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    background-color: white;
}

.codimg{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left: 70px;
}

.maincontabout{
    display: flex;
}


@media (max-width: 550px){
    .codimg{
        display: none;
    }

    /* .showskill{
        display: none;
    } */
}


.skillimg{
    width: 70px;
    height: 60px;
    object-fit: contain;
    background-color: black;
}

.skill_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 80px;
    height: 100px; */
    /* background-color: black; */
    padding: 2px;
    transition: transform 0.5s;
}

.allskillcontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill_container:hover{
    transform: scale(1.1);
}

.text_decor{
    /* text-decoration: underline;
    text-decoration-thickness: 2px; */
    margin-top: 25px;
    /* margin-bottom: 10px; */
}

.text_decor::before{
    content: "➤ ";
    font-size: 15px;
}

.makegreen{
    color: green;
}